.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author {
  text-size: 0.3em;
  color: grey;
}

.timestamp {
  text-size: 0.3em;
  color: grey;
}

.message {
  margin: 1em;
}

.chat-window {
  height: 100%;
  max-width: 80%;
  min-width: 25em;
  margin-bottom: 2em;
}

.message-input {
  margin-right: 0.5em;
}

.message-list {
  padding: 15px;
  border-width: 0 1px;
  border: solid grey;
  list-style-type: none;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
}
